<p>img works!</p>


<!-- Curso de Angular: Componentes y Servicios -->
<!-- Clase 4 - Uso de Outputs -->
<!-- Así como el decorador @Input permite el envío de información desde un componente padre hacia un componente hijo,
el uso de @Outputs permite lo contrario.

Comunicación hijo a padre
A partir de la emisión de un evento, el decorador @Output() permite enviar mensajes desde un componente hijo hacia el padre.
-->
<!-- Se utiliza el Event Bindind para validar si la imagen tiene una carga erronea
con el eventyo "(error)"
-->

<h1>{{ img }}</h1>
<img width="100" (error)="imgError()" [src]="img" *ngIf="img; else elseImg">
<ng-template #elseImg>
  <img width="500" [src]="imageDefault" alt="">
</ng-template>


<!-- Curso de Angular: Componentes y Servicios -->
<!-- Clase 3 - Uso de Inputs -->
<!-- Para comunicar componentes, Angular hace uso de decoradores para intercambiar
  información entre un componente padre hacia un componente hijo y viceversa.

Comunicando componentes
Para enviar información de padre a hijo, puedes utilizar el decorador @Input()
para marcar una propiedad de una clase como punto de entrada de un dato.

<p style=‘text-align:center;’>
<img src=“https://static.platzi.com/media/articlases/Images/Screenshot from 2022-04-05 22-42-58.png” alt=“Envio de datos componente padre a hijo”>
</p>

import { Component, Input } from '@angular/core';

@Component({
  selector: 'app-test-name',
  templateUrl: './test-name.component.html',
  styleUrls: ['./test-name.component.less']
})
export class TestNameComponent {

  @Input() firstname: string;

  constructor() { }
}
Debes importar Input desde @angular/core para poder utilizar esta
directiva e indicar que la propiedad firstname es un dato que el componente padre enviará.

Podrás inicializar el componente desde su padre y pasarle los inputs que este necesite de la siguiente manera:

<app-test-name>
    firstname="Platzi"
</app-test-name>
También puedes cambiar el nombre el Input especificando el nombre de la propiedad que quieras que este utilice al inicializar el componente.

...
    @Input('my-name') firstname: string;
...
<app-test-name>
    my-name="Platzi"
</app-test-name>
Data binding en Inputs
El decorador @Input() detectará cualquier cambio en el dato y automáticamente actualizará su valor.
Si ocurre algún evento en el componente padre que cambie el valor en el Input firstname,
el componente hijo recibirá inmediatamente ese nuevo valor.

Input Set
Otra manera de utilizar la directiva @Input es de la siguiente manera:

    @Input() set saludar(firstname: string) {
        console.log('Hola', firstname)
    };
Observa que en esta oportunidad, cada vez que se envía un valor al @Input, se ejecutará la función saludar()
que recibe como parámetro el valor que se le haya enviado.

De esta manera, puedes ejecutar la lógica que necesites dentro de esta función cada vez que el valor del @Inputcambia.
-->
<!-- <h1>{{ img }}</h1> -->
<!-- Debido a que el dato de img ya no es un texto sino una url, lo que se requiere es renderizar la imagen -->
<!-- Se implmenta una condición donde si la IMAGEN es vacia entonce me muestra una imagen por defecto -->

<!-- <img width="200" [src]="img" *ngIf="img; else elseImg">
<ng-template #elseImg>
  <img src="./assets/images/default.jpg" alt="">
</ng-template> -->
