<hr />
<!-- Clase 6 - String interpolation -->
<!-- String interpolation es la manera de enviar datos desde nuestro componente hacia la vista. Utilizando el doble
  símbolo de llaves  {{ }}, o también conocidos como brackets, puedes imprimir el valor de una variable, realizar
  operaciones matemáticas o hacer el llamado a una función dentro del código HTML. -->

<!-- Al usar las llaves el 'Hola Mundo' queda como un string
  por lo cual puedo hacer manipulaciones de programación,
el cual me permite repetir texto, resolver operaciones-->
<h1>Hola Mundo</h1>
<h2>{{ 'Hola Mundo'.repeat(5) }}</h2>
<!-- Una parte es HTML que se muestra en la pagina y la otra parte
  es evaluada y ejecutada como código -->
<p>la suma 3 + 3 = {{ 3 + 3}}</p>

<!-- Se usa el string interpolation para traer el valor de una variable
que fue declarada en el componente, osea en el archivo app.component.ts -->
<h3>Hola, Soy {{ name }} y tengo {{ age }}</h3>

<!-- El string interpolation también sirve para configurar atributos del HTML -->
<img src={{img}} alt="image">
