<hr />
<!-- Curso de Angular: Componentes y Servicios -->
<!-- Clase 2 - ¿Qué son los componentes? -->
<!-- Al crear un nuevo componente en el archivo "img.component.ts" para este proyecto
esta el selector que el nombre que me va a permitir llamar a un componente desde
otro componente, en este proyecto sería 'app-img'. -->
<app-img></app-img>

<hr />
<!-- Clase 19 - Crear un formulario -->
<!-- Conociendo la directiva [(ngModel)] que nos facilita el intercambio de datos de forma bidireccional entre la vista y el componente, puedes crear tu primer formulario apoyándote de esta directiva y de otras características propias de Angular para el manejo y validación de formularios.

Paso 1
Crea un simple formulario de Login en el HTML y las variables en el componente para capturar los valores de los campos con ngModel:

@Component({
  selector: 'app-root',
  templateUrl: './app.component.html',
  styleUrls: ['./app.component.scss']
})
export class AppComponent {
  form = {
    email: '',
    password = ''
  };
}

<form>
    <div>
        <label></label>
        <input name="email" type="email" [(ngModel)]="form.email" required />
    </div>
    <div>
        <label></label>
        <input name="password" type="password" [(ngModel)]="form.password" required />
    </div>
    <div>
        <button type="submit">Iniciar sesión</button>
    </div>
</form>

Paso 2
Agregale al componente un método que responda al evento del envío del formulario llamado submitLogin(). Puedes enlazar este método al formulario con la directiva (ngSubmit) que va colocada en la etiqueta <form> junto con una variable de template para ponerle un nombre al formulario como por ejemplo #formLogin="ngForm". Tienes que igualar el nombre de tu variable a ngForm para que Angular reconozca que se trata de un formulario.

@Component({
  selector: 'app-root',
  templateUrl: './app.component.html',
  styleUrls: ['./app.component.scss']
})
export class AppComponent {
  form = {
    email: '',
    password = ''
  };
  submitLogin() {
    // Login del usuario
  }
}

<form (ngSubmit)="submitLogin()" #formLogin="ngForm">
    <div>
        <label></label>
        <input name="email" type="email" [(ngModel)]="form.email" required />
    </div>
    <div>
        <label></label>
        <input name="password" type="password" [(ngModel)]="form.password" required />
    </div>
    <div>
        <button type="submit">Iniciar sesión</button>
    </div>
</form>

Paso 3
Finalmente, gracias a esta conexión de tu formulario con el componente, se activará el método submitLogin() al hacer clic en el botón. Para validar tu formulario, utiliza la variable de template para imprimir un mensaje de error en pantalla o deshabilitar el botón de envío de la siguiente manera:

...
<div>
    <button [disabled]="formLogin.invalid" type="submit">Iniciar sesión</button>
</div>
... -->
<h1>Formulario</h1>
<form (ngSubmit)="onRegister()" #myForm="ngForm">
  <div class="input-group">
    <label for="name">Nombre</label>
    <input type="text" name="name" required id="name" [(ngModel)]="register.name">
    <p>Mensajes de error</p>
  </div>
  <div class="input-group">
    <label for="email">Email</label>
    <input type="email" name="email" required id="email" [(ngModel)]="register.email">
    <p>Mensajes de error</p>
    <div class="input-group">
      <label for="password">Password</label>
      <input type="password" name="password" required id="password" [(ngModel)]="register.password">
      <p>Mensajes de error</p>
    </div>
  </div>
  <button [disabled]="myForm.invalid" type="submit">Registrar</button>
  <button type="button">Accion</button>
</form>

<hr />
<!-- Clase 18 - NgClass y NgStyle-->
<!-- Con el binding de [class] y [style] puedes agregar clases y estilos fácilmente. Pero se vuelve algo complicado en el caso de que necesites agregar varias clases o modificar muchos estilos. Es por esto que Angular ofrece las directivas ngClass y ngStyle para este propósito.

Puedes bindear la directiva [ngStyle] o [ngClass] y pasarle un objeto con cada propiedad o clase que deseas agregar:

<p
    [ngStyle]="{
        'color': textColor,
        'background': textBackground
    }"
></p>

El operador ternario será tu mejor aliado para agregar o quitar clases y estilos:

<div
    [ngClass]="isAvailable ? 'active-class' : 'deactivate-class'"
></div>

O puedes usar las Interpolaciones en lugar del binding:

<p
    ngClass="{{ isAvailable ? 'active-class' : 'deactivate-class' }}"
></p> -->
<h1>NgClass & NgStyle</h1>
<input type="text" required #nameInput4="ngModel" [(ngModel)]="person.name" />
<hr class="line-error" [ngClass]="{
  'valid': nameInput4.valid,
  'invalid': nameInput4.invalid
}" />
<p class="message-error" [class.activarCampo]="nameInput4.invalid">
  El campo es requerido
</p>
<div class="styles">
  <div>
    <input type="number" [(ngModel)]="box.width" />
    <input type="number" [(ngModel)]="box.height" />
    <input type="color" [(ngModel)]="box.background" />
  </div>
  <div>
    <div [ngStyle]="{
    'width.px': box.width,
    'height.px': box.height,
    'background-color': box.background,
    'display': 'block'
    }"></div>
  </div>
</div>

<hr />
<!-- Clase 17 - Class and style -->
<!--
Class binding
La versatilidad de Angular te permite agregar o quitar clases y estilos a tus
elementos HTML a partir de condicionantes.
Así como anteriormente utilizaste los corchetes [] para bindear atributos
como el [src] de una imagen o el [href] de un enlace, puedes bindear clases para
que Angular las agregue o quite dinámicamente si se cumple una condición de la siguiente manera:

<div [class.active-color]="isActive">
</div>

Imagina que tienes en tu componente una propiedad llamada isActive que agregará
la clase active-color si esta es verdadera o quitará la clase si es falsa.
Luego ya puedes darle los estilos que más te gusten al elemento HTML en tu hoja de estilos utilizando la clase active-color.

Style binding
También puedes añadir estilos inline a los elementos HTML bindeando
la propiedad [style] seguido de la propiedad CSS que quieres modificar dinámicamente:

<p [style.color]="isActive ? 'blue' : 'red'"></p>

A partir del valor de isActive, dependiendo si este es verdadero o falso,
puedes emplear un operador ternario para cambiar el color del párrafo.
-->
<h1>Class & Style</h1>
<input type="text" required #nameInput2="ngModel" [(ngModel)]="person.name" />
<p class="message-error" [class.activarCampo]="nameInput2.invalid">
  El campo es requerido
</p>
<label>Nombre</label>
<input type="text" required #nameInput3="ngModel" [(ngModel)]="person.name" />
<p [style.font-style]="nameInput3.invalid ? 'italic' : 'normal'">Texto texto texto</p>
<div class="styles">
  <div>
    <input type="text" [(ngModel)]="widthImg" />
  </div>
  <div>
    <img [style.width.px]="widthImg" [src]="person.avatar">
  </div>

</div>

<hr />
<!-- Clase 14 - Uso de ngSwitch -->
<!-- Angular también ofrece la sentencia *ngSwitch y *ngSwitchCase
  para determinar el flujo de control de tu aplicación y qué elemento
  mostrar entre multiples elementos HTML. Además de utilizar un elemento
  default con *ngSwitchDefault en caso de que ninguna condición se cumpla. -->
<h1>ngSwitch</h1>
<input type="text" required [(ngModel)]="person.name" />
<!-- <p *ngIf="person.name == 'nicolas'">
  El nombre ingresado es nicolas
</p>

<p *ngIf="person.name == 'julian'">
  El nombre ingresado es julian
</p>

<p *ngIf="person.name == 'camilo'">
  El nombre ingresado es camilo
</p> -->
<div [ngSwitch]="person.name">
  <p *ngSwitchCase="'nicolas'">
    El nombre ingresado es nicolas
  </p>

  <p *ngSwitchCase="'julian'">
    El nombre ingresado es julian
  </p>

  <p *ngSwitchCase="'camilo'">
    El nombre ingresado es camilo
  </p>
  <p *ngSwitchDefault>No hace match</p>
</div>

<hr />
<!-- Clase 13 - *ngFor para arrays -->
<!-- Puedes utilizar *ngFor para iterar y mostrar cada propiedad de un objeto.-->
<h1>*ngFor para arrays</h1>
<div class="products--grid">
  <div *ngFor="let product of products">
    <img [src]="product.image">
    <h2>{{ product.price}}</h2>
    <p>{{ product.name }}</p>
  </div>
</div>
<hr />
<!-- Clase 12 - Uso de *ngFor -->
<!-- Al igual que con un If, Angular permite iterar un array de números,
de cadenas de caracteres o de objetos usando “*ngFor”.Si tienes en tu componente un array de datos: -->
<h1>*ngFor</h1>
<input type="text" required [(ngModel)]="newName" />
<button (click)="addName()">Agregar Nombre</button>
<ul>
  <li *ngIf="names.length === 0">La lista está vacía</li>
  <li *ngFor="let name of names; index as posicion">
    {{ posicion }} - {{ name }}
    <button (click)="deleteName(posicion)">Eliminar Nombre</button>
  </li>
</ul>

<hr />
<!-- Clase 11 - Uso de *ngIf -->
<!--El condicional “If” es un “If” en Javascript, en Java, en PHP, en Python o en cualquier lenguaje.
  Angular posibilita utilizar este condicionante embebido en el HTML para mostrar o no un elemento.
  Su sintaxis es algo particular, está compuesta por un asterisco seguido de las iniciales
  características de Angular “ng” y la palabra “If”.

Si la condición dentro del “If” se cumple, se mostrará el <div> con el respectivo contenido dentro.
  De lo contrario, el usuario no verá dicho elemento en el navegador.
  En la condición del If puedes colocar cualquier operador lógico:

  AND, OR, MAYOR, MENOS, IGUAL, DISTINTO, MAYOR/IGUAL, MENOR/IGUAL

If … else
Para usar un else en Angular, la sintaxis es algo especial.
Debes crear un template en tu código HTML usando la etiqueta
que provee Angular llamada <ng-template> con una Variable de Template, comenzando con #,
para hacer referencia a este elemento desde tu If.

<div *ngIf="isPlatzi; else templateElse">Hola, soy Platzi</div>
<ng-template #templateElse>
    <div>No soy Platzi</div>
</ng-template

Si la condición del If no se cumple, seguido de punto y coma, se coloca la sentencia else haciendo referencia a templateElse, que es el nombre de la variable del template a mostrar en su lugar.
-->
<h1>*ngIf</h1>
<input type="text" required [(ngModel)]="person.name" />
<p *ngIf="person.name == 'nicolas'">El nombre ingresado es nicolas</p>
<p *ngIf="person.name == 'julian' && person.age === 18; else elseBlockNombre">El nombre ingresado es julian</p>
<ng-template #elseBlockNombre>
  <p>Bloque de else</p>
</ng-template>

<hr />
<!-- Clase 10 - Data binding con ngModel -->
<!-- El atributo ngModel permite el intercambio de datos de forma bidireccional entre el componente y la vista.
  Lo que suceda en el componente, se verá reflejado en la vista. Lo que se suceda en la vista,
  inmediatamente impactará en el componente.

<input [(ngModel)]="name">

ngModel usar tanto los corchetes [] como los paréntesis (). De esta manera,
se vuelve bidireccional el intercambio de datos. Si no quieres la bidirección,
solo colocamos los corchetes [ngModel] para que la comunicación sea unidireccional.
Para utilizar ngModel, es necesario hacer uso e importar Angular Forms. Para esto,
dirígete al archivo app.module.ts que es el módulo principal de toda aplicación Angular y agrega lo siguiente:

...
import { FormsModule } from '@angular/forms';

@NgModule({
  declarations: [ ... ],
  imports: [
    FormsModule
  ],
  providers: [],
  bootstrap: [ ... ]
})
export class AppModule { }

De esta manera puedes importar el módulo FormsModule desde @angular/forms y agregarlo a imports para emplear la propiedad [(ngModel)]. -->
<h1>NgModel</h1>
<p>Nombre: {{ person.name }}</p>
<input type="text" required #nameInput="ngModel" [(ngModel)]="person.name" />
<!-- Esto es una forma de mezclar el Event Binding y el Property Binding,
el modulo de FormsModule que se importó en el archivo "app.module.ts",
es el que permite pasar de:
"<input type="text" [value]="person.name" (keyup)="changeName($event)">"
a "<input type="text" [(ngModel)]="person.name"/>" -->

<!-- Con el "ngModel" me da un estado de si la propiedas es valida o no
para eso se debe crear una variable que esta en el Template del input
y se le debe de indicar que el valor lo toma del "NgModel" esto se hace con
"#nameInput="ngModel"" -->
<!-- NgModel trabaja mucho con la forma nativa de manejar los input de HTML,
por lo cual se pueden colocar validaciones nativas de HTML, como por ejemplo si el campo
requerido o no
Esto se logra colocando la propiedad "required"
-->
<p>Nombre Válido: {{ nameInput.valid}}</p>

<p>Edad: {{ person.age }}</p>
<input type="number" max="18" min="10" required #ageInput="ngModel" [(ngModel)]="person.age" />
<p>Edad Válida: {{ ageInput.valid}}</p>
<hr />

<!-- Clase 9 - Otros eventos que puedes escuchar-->
<!--
  Además del evento clic, seguramente el más utilizado, hay otros eventos como el change para detectar
  cambios en un campo de formulario, el evento scroll para detectar el desplazamiento horizontal/vertical
  del usuario en el navegador, onKeyUp o onKeyDown para detectar cuando el usuario aprieta o deja de apretar un botón de su teclado.

La importancia del Event Binding en Angular está dada por la posibilidad de comunicar el componente y la vista,
el código TS con el código HTML, intercambiando datos entre ellos.

Puedes enviarle al controlador el evento completo que se produce en la vista.
Para esto, solo declara un parámetro $event en el método que se encuentra escuchando el evento.

Tienes en el controlador:
@Component({
  selector: 'app-root',
  templateUrl: './app.component.html',
  styleUrls: ['./app.component.scss']
})
export class AppComponent {
  buttonClick(event: Event) {
    console.log($event);
  }
}

Y en el HTML:

<button (onKeyUp)="buttonClick($event)">
El método buttonClick() que recibe como parámetro $event del tipo Event, en el HTML bindea el evento onKeyUp y el método recibe argumento $event con el símbolo de pesos delante para que Angular entienda que se trata de un evento.

De esta manera, puedes registrar cada pulsación del teclado imprimiendo por consola el evento producido por el usuario.
-->
<h1>Otros Eventos</h1>
<div class="box" (scroll)="onScroll($event)">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores repellat optio, voluptates quaerat omnis
  laudantium. Quasi placeat distinctio quas quae provident nihil. Obcaecati odit accusantium aliquam illum voluptates
  numquam fuga?
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias, iusto facilis eos eius ea exercitationem repellat et
  maiores quibusdam non corrupti fugit vel veniam repellendus perspiciatis qui! Suscipit, recusandae placeat.
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ullam, error provident accusamus harum alias voluptatum
  totam tenetur quod, facilis eum nihil mollitia cumque ea? Nisi tempora dignissimos dolore dolor voluptatibus.
</div>
<p>Valor Scroll Top: {{ valueScrollTop }}</p>
<input type="text" [value]="person.name" (keyup)="changeName($event)">

<p>Nombre: {{ person.name }}</p>
<hr />
<!-- Clase 8 - Introducción al Event Binding de Angular -->
<!-- A lo igual que el Property Binding nos permite modificar el valor de los atributos
  de los elementos HTML desde el controlador, el Event Binding permite controlar
  los eventos que suceden en estos elementos.
  El clic de un botón, detectar cambios en un campo, el envío de un formulario,
  entre otros eventos.
  Para esto utiliza los paréntesis () para el bindeo de la propiedad del elemento. -->
<h1>Eventos</h1>
<button [disabled]="btnDisabled">Enviar</button>
<button (click)="toggleButton()">Activar/Desactivar botón</button>
<p>Edad {{ person.age }}</p>
<button (click)="increaseAge()">Edad ++</button>
<button (click)="decreasedAge()" [disabled]="btnDisabledDecreaseAge">Edad --</button>
<hr />
<!-- Clase 7 - Property Binding -->
<!-- Property Binding es la manera que dispone Angular para controlar y modificar
  las propiedades de los distintos elementos de HTML.
  Para esto, simplemente utiliza los corchetes [] para poder modificar dinámicamente ese atributo desde el controlador.
Utilidades
- El atributo src de la etiqueta <img> para modificar dinámicamente una imagen.
- El atributo href de un <a> para modificar un enlace.
- El atributo value de un <input> para autocompletar un valor de un formulario.
- El atributo disable de un <input> para habilitar/deshabilitar un campo de un formulario.
-->
<h1>Propiedades</h1>
<button disabled>Enviar Sin Property Binding</button>
<br>
<button [disabled]="btnDisabled">Enviar Con Property Binding</button>
<input type="text" [value]="name">
<progress max="100" [value]="age"></progress>
<img width="100" [src]="img" />
<h3>Propiedades con objeto</h3>
<input type="text" [value]="person.name">
<progress max="100" [value]="person.age"></progress>
<img width="100" [src]="person.avatar">
<hr />
<!-- Clase 6 - String interpolation -->
<!-- String interpolation es la manera de enviar datos desde nuestro componente hacia la vista. Utilizando el doble
  símbolo de llaves  {{ }}, o también conocidos como brackets, puedes imprimir el valor de una variable, realizar
  operaciones matemáticas o hacer el llamado a una función dentro del código HTML. -->

<!-- Al usar las llaves el 'Hola Mundo' queda como un string
  por lo cual puedo hacer manipulaciones de programación,
el cual me permite repetir texto, resolver operaciones-->
<h1>Hola Mundo</h1>
<h2>{{ 'Hola Mundo'.repeat(5) }}</h2>
<!-- Una parte es HTML que se muestra en la pagina y la otra parte
  es evaluada y ejecutada como código -->
<p>la suma 3 + 3 = {{ 3 + 3}}</p>

<!-- Se usa el string interpolation para traer el valor de una variable
que fue declarada en el componente, osea en el archivo app.component.ts -->
<h3>Hola, Soy {{ name }} y tengo {{ age }}</h3>

<!-- El string interpolation también sirve para configurar atributos del HTML -->
<img width="200" src={{img}} alt="image">
