<hr />
<!-- Clase 8 - Introducción al Event Binding de Angular -->
<!-- A lo igual que el Property Binding nos permite modificar el valor de los atributos
  de los elementos HTML desde el controlador, el Event Binding permite controlar
  los eventos que suceden en estos elementos.
  El clic de un botón, detectar cambios en un campo, el envío de un formulario,
  entre otros eventos.
  Para esto utiliza los paréntesis () para el bindeo de la propiedad del elemento. -->
<h1>Eventos</h1>
<button [disabled]="btnDisabled">Enviar</button>
<button (click)="toggleButton()">Activar/Desactivar botón</button>
<p>Edad {{ person.age }}</p>
<button (click)="increaseAge()">Edad ++</button>
<button (click)="decreasedAge()" [disabled]="btnDisabledDecreaseAge">Edad --</button>
<hr />
<!-- Clase 7 - Property Binding -->
<!-- Property Binding es la manera que dispone Angular para controlar y modificar
  las propiedades de los distintos elementos de HTML.
  Para esto, simplemente utiliza los corchetes [] para poder modificar dinámicamente ese atributo desde el controlador.
Utilidades
- El atributo src de la etiqueta <img> para modificar dinámicamente una imagen.
- El atributo href de un <a> para modificar un enlace.
- El atributo value de un <input> para autocompletar un valor de un formulario.
- El atributo disable de un <input> para habilitar/deshabilitar un campo de un formulario.
-->
<h1>Propiedades</h1>
<button disabled>Enviar Sin Property Binding</button>
<br>
<button [disabled]="btnDisabled">Enviar Con Property Binding</button>
<input type="text" [value]="name">
<progress max="100" [value]="age"></progress>
<img width="100" [src]="img" />
<h3>Propiedades con objeto</h3>
<input type="text" [value]="person.name">
<progress max="100" [value]="person.age"></progress>
<img width="100" [src]="person.avatar">
<hr />
<!-- Clase 6 - String interpolation -->
<!-- String interpolation es la manera de enviar datos desde nuestro componente hacia la vista. Utilizando el doble
  símbolo de llaves  {{ }}, o también conocidos como brackets, puedes imprimir el valor de una variable, realizar
  operaciones matemáticas o hacer el llamado a una función dentro del código HTML. -->

<!-- Al usar las llaves el 'Hola Mundo' queda como un string
  por lo cual puedo hacer manipulaciones de programación,
el cual me permite repetir texto, resolver operaciones-->
<h1>Hola Mundo</h1>
<h2>{{ 'Hola Mundo'.repeat(5) }}</h2>
<!-- Una parte es HTML que se muestra en la pagina y la otra parte
  es evaluada y ejecutada como código -->
<p>la suma 3 + 3 = {{ 3 + 3}}</p>

<!-- Se usa el string interpolation para traer el valor de una variable
que fue declarada en el componente, osea en el archivo app.component.ts -->
<h3>Hola, Soy {{ name }} y tengo {{ age }}</h3>

<!-- El string interpolation también sirve para configurar atributos del HTML -->
<img src={{img}} alt="image">
