.box {
  height: 200px;
  width: 200px;
  overflow: auto;
  background: red;
}

// Curso de Fundamentos de Angular
// Clase 16 - Estilos a la lista de productos
// .products--grid {
//   display: grid;
//   grid-template-columns: repeat(5, 1fr);
//   grid-gap: 15px;

//   div {
//     img {
//       width: 100%;
//       border-radius: 15px;
//     }
//     h2, p {
//       margin: 0;
//     }
//   }
// }
// Primero se piensa y se diseña para dispositivos moviles y luego para web
.products--grid {
  display: flex;
  flex-direction: column;

  div {
    img {
      width: 100%;
      border-radius: 15px;
    }

    h2,
    p {
      margin: 0;
    }
  }
}

// Se crea un media query para adaptar el cambio a web
// Medida de Tablet en adelante
@media screen and (min-width: 40em) {
  .products--grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 15px;
  }
}
// Curso de Fundamentos de Angular
// Clase 17 - Class and style
.message-error {
  background: red;
  color: white;
  opacity: 0;
  transition: all linear .5s;

  &.activarCampo {
    opacity: 1;
  }
}

.styles {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

// Curso de Fundamentos de Angular
// Clase 18 - NgClass y NgStyle
.line-error {
  height: 0;
  border-bottom: 5px solid;
  &.invalid {
    border-color: red;
  }
  &.valid {
    border-color: green;
  }
}

